@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    font-family: Karla;
    font-size: 16px;
}

body {
    background-color: hsl(148, 38%, 91%);
}

input {
    margin-top: 5px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    cursor: pointer;
}

input:hover, .messageInput textarea:hover, .queryInput label:hover {
    border: 1px solid hsl(169, 82%, 27%);
}

input:focus, .messageInput textarea:focus {
    border-color:hsl(169, 82%, 27%);
    outline: none;
}

label {
    cursor: pointer;
}

.formBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.formItem {
    width: 600px;
    min-height: 660px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
}

.formItem h1 {
    font-weight: 700;
    color: hsl(187, 24%, 22%);
    font-size: 30px;
}

form {
    margin-top: 30px;
}

.nameForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameInput input {
    width: 280px;
    height: 35px;
}
    
.emailInput input {
    width: 595px;
    height: 35px;
}

.formInput {
    margin-top: 25px;
}

.queryInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.queryInput label {
    display: inline-block;
    width: 280px;
    height: 35px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.queryInput label input:checked {
    background-color:hsl(148, 38%, 91%);
}

.queryInput label:checked {
    background-color: hsl(148, 38%, 91%); 
}

.messageInput textarea {
    width: 595px;
    height: 70px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 5px
}

button {
    width: 595px;
    height: 50px;
    color: white;
    background-color: hsl(169, 82%, 27%);
    margin-top: 25px;
    border: 1px solid hsl(169, 82%, 27%);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(129, 84%, 12%);
}

.consentTeam input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    appearance: none;
    border-radius: 3px;
    outline: none;
    position: relative;
}

.consentTeam input:checked {
    background-color: hsl(169, 82%, 27%);
    border-color: hsl(169, 82%, 27%);
}

.consentTeam input:checked::after {
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
}

.error {
    border-color:hsl(0, 66%, 54%)
}

.error-text {
    display: none;
    margin-top: 5px;
    color: hsl(0, 66%, 54%);
}

.attribution {
    margin-top: 50px;
     font-size: 11px; 
     text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    justify-content: center;
}

.own-alert {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 400px;
    height: 100px;
    background-color:hsl(129, 84%, 12%);
    padding: 15px 30px 15px 30px;
    color: white;
    border-radius: 10px;
}

.own-alert h2 {
    display: inline-block;
    margin-left: 10px;
}

.own-alert span {
    content: '';
    display: inline-block;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); top: 1; 
}